<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  </head>
  <body>
  <div class="wrapper">
      <header>
          <div style="text-align: center;">
              <img src="{{site.logo | relative_url}}" alt="Logo" class="logo"/>
              <h1>{{ site.title | default: site.github.repository_name }}</h1>
              <p><strong>{{ site.description | default: site.github.project_tagline }}</strong></p>
              <p>📍 {{site.location}}</p>
              <div class="social-icons">
                  <a href="https://github.com/TomatenMarc" title="View my GitHub projects" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
                  <a href="https://huggingface.co/TomatenMarc" title="View my Hugging Face projects" target="_blank" rel="noopener"><i class="fa-regular fa-face-laugh-beam"></i></a>
                  <a href="https://linkedin.com/in/marc-feger" title="Visit my LinkedIn" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
                  <a href="mailto:marc-feger@icloud.com?subject=Contact%20from%20Portfolio" title="Email me" target="_blank" rel="noopener"><i class="fa-regular fa-paper-plane"></i></a>
              </div>
          </div>
      </header>
      <section>

          {{ content }}

      </section>
      <footer style="text-align: center;">
      </footer>
  </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
